@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  
}


body {
  font-size: 16px;
  line-height: 1.5;
  color: 333;
  font-family: 'Poppins', sans-serif;
  background-color: #F0F2F5;

}


ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: white;
  border-right: 1px solid black;
  border-left: 1px solid black;
  
  
}

/* yellow background */

.yellow-bg-border{
  background-color: #FFD230;
  border-bottom: 1px solid black;
}

/* Content Wrapper */
.content-wrapper {
 min-height: 96vh;
}

/* Paddings */
.pt-1 {
  padding-top: 1rem; /* 16px */
}

.pt-2 {
  padding-top: 2rem;
}

.px-1 {
  padding: 0 1rem;
}

.px-custom {
  padding: 0 0.2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pt-3{
  padding-top: 3rem;
}

/* Margins */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

/* colors */
.text-gray {
  color: rgb(156, 156, 156)
}

.text-black {
 color: black;
}

/* Navbar Styling */
.navbar {
  height: 53px;
  background-color: black;


}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar p {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: #FFD230;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: black;
  color: white;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;

}

/* Flex */
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

/* Form Input/Select */
.form-control {
  padding: .5em 1em;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: .5em;
  background-color: #EFEFEF;

}

.form-label {
  display: block;
  margin: 0 5px;
}

.card {

  border: 1px solid black;
  transition: 0.5s; 
  margin: 2em 0;
  border-radius: 5px;
  padding: 2em;
}

.card:hover {
  box-shadow: 0 3px 3px 2px rgba(0,
      0,
      0,
      0.2);
}

.card p {

  font-weight: 500;
}

.card h1 {
  font-weight: 500;
}

/* styling arrows */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 5px;
  margin: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* comment styling */
.comment-container {
  padding: 2.2em;
}
.comments-title {
  margin: 1em 0;
}

/* Users Section Styling */

.users-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.users-container {
  width: 300px;
  border: 1px solid black;
  padding: 1.5em;
  margin: .3em;
  /* justify-self: center; */
  text-align: center;
  color: black;

}

.avatar-img {
  
  max-width: 90%;
  width: 250px;
  height: 250px;
}


.text-center {
  text-align: center;
 
}

.text-center-links{
  text-align: center;
  color: black;
  
}

.text-center-links:link{
text-decoration: none;
color: black;
}

.text-bold{
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  
}

.text-light {
  font-weight: 500;
  font-size: 200%;
}

.loading-text{
  font-size: 300%;
}

.text-decoration {
  text-decoration: none;
  font-size: 105%;
 }

.text-decoration.color {
  color: #da152f;
}
.text-decoration-none{
  text-decoration: none;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.text-login-color{
  color: #da152f;
}

/* truncating */

.truncate-content {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Buttons Styling */


.btn-dark {
  margin: 0 5px;
  padding: .5em 1em;
  color: black;
  background-color: #EFEFEF;
  border: 1px solid black;
  border-radius: 5px;
  transition: .5s ease-in-out;
  text-transform: uppercase;

}

.btn-dark.active {
  color: white;
  background-color: black;
  border: 1px solid black;
  font-weight: bold;
}

.btn-dark.active .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: block;
}

.btn-dark:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
  font-weight: bold;
}

.btn-dark:hover .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: block;
}

.btn-danger {
  margin: 0 5px;
  padding: .5em 1em;
  color: #e15f71;
  background-color: white;
  border: 1px solid #e15f71;
  border-radius: 5px;
  transition: .5s ease-in-out;
  text-transform: uppercase;

}

.btn-danger:hover {
  color: white;
  background-color: #e15f71;
  border: 1px solid #e15f71;
  font-weight: bold;
}

article-topic-btn{
  margin: 50;
}

/* Article Page Buttons */
.article-page-btn {
  width: 265px;
}

.all-articles-page-btn{
width: 125px;
}

.articles-by-topic-btn{
  width: 260px
}

/* Text Area Styling */
.text-area {
  resize: none;
  max-width: 100%;
  padding: .5em 1em;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: .5em;
    
}


/* loading spinner */

.loading-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}