@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-size: 16px;
  line-height: 1.5;
  color: 333;
  font-family: 'Poppins', sans-serif;

}

h1 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  /* padding: 0 30px; */
  background-color: white;

}

.navbar {
    height: 53px;
      background-color: black;


}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar p {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

/* .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
} */

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;

}

.card {

  /* border: width style color */
  /* width: in px, em, rem */
  /* style: solid, dotted, dashed */
  border: 2px solid black;
  margin: 1em 0;
  border-radius: 5px;
  padding: 0.5em;
}

/* .article-container {
  border: 2px solid black;
  padding: 1em;

} */

/* styling arrows */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 5px;
  margin: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* comment styling */
.comment-container {
  margin: 2em 0;
}
.comments-title {
  margin: 1em 0;
}

/* Users Section Styling */

.users-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.users-container {
  width: 320px;
  border: 1px solid black;
  padding: 2em;
  margin: 1em 0;
  /* justify-self: center; */
  text-align: center;

}

.avatar-img {
  border-radius: 50%;
  max-width: 100%;
  width: 270px;
  height: 270px;
}

.text-center {
  text-align: center;
}